<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>

<ion-card class="border-radius">
    <ion-card-content>
        <ion-row size="12" class="ion-no-padding">
            <ion-col size="12" size-md="12">
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-card>