ion-tab-button:hover {
    ion-icon,
    ion-label {
        color: #4880f7 !important;
        --ion-color-base: white !important;
    }
}

ion-tab-bar {
    --border: 0;
    --background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    &:after {
        content: " ";
        width: 100%;
        bottom: 0;
        height: env(safe-area-inset-bottom);
        position: absolute;
    }
    ion-tab-button {
        --background: #2c2c2c;
        --color: #fff;
    }

    .tab-selected ion-icon {
        color: #4880f7;
        padding-bottom: 9px;
    }

    #tab-button-home > ion-icon:after,
    #tab-button-search > ion-icon:after,
    #tab-button-bookmark > ion-icon:after,
    #tab-button-account > ion-icon:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 7px;
        position: absolute;
        transition: width 0.4s ease 0s, background-color 0.4s ease;
        width: 0;
        border-radius: 5px;
    }

    #tab-button-home.tab-selected > ion-icon:after,
    #tab-button-search.tab-selected > ion-icon:after,
    #tab-button-bookmark.tab-selected > ion-icon:after,
    #tab-button-account.tab-selected > ion-icon:after {
        width: 4.8vh;
        background: #4880f7;
    }

    .keyboard-is-open .tabbar {
        display: none;
    }

    .keyboard-is-open scroll-content {
        margin-bottom: 0 !important;
    }
}
