<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{header}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="category()" fill="clear">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loader">
    <skeleton-card></skeleton-card>
  </ng-container>
  <ng-container *ngIf="dataRender">
    <ion-card *ngFor="let item of data">
      <img src="{{item.image.small}}" alt="ion">
      <ion-card-header>
        <ion-card-title class="text-size-md text-color-primary font-bold ion-text-wrap">
          {{item.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{item.contentSnippet}}
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-container *ngIf="!dataRender && !loader">
    <div>
      <p>
        Welcome to News V.1.0 <br>
        Please choose the news provider to start
      </p>
    </div>
  </ng-container>
</ion-content>